
div {
	display: inline-block;
}

#wolfmanlogo {
	height: 150px;
	width: 100px;
	margin-top: -105px;
	margin-bottom: -25px; 
}

.left {
	height: 100vh;
	width: 16%;
	background-color: black;
	position: relative;
	text-align: center;
	float: left;
}

.middle {
	height: 100vh;
	width: 42%;
	position: relative;
	margin-left:0;
	margin-right: 0;
}

#logo {
	width: 210px;
	margin-bottom: 65px;
}

.night {
	height: 100%;
	width:100%;
	text-align: center;
}

.textNight {
	font-size: 55px;
	font-family: 'Shadows Into Light';
	color: #DADAC5;
	position: absolute;
	z-index: 2;
	bottom: 15%;
	left:35%;
}

.text {
	font-family: 'Shadows Into Light';
	color: #DADAC5;
	font-size: 15px;
}

.spacer {
	display: block;
	height: 15px;
}

.right {
	float: right;
	background-color: yellow;
	height: 100vh;
	width: 42%;
	margin-left: 0;
}

#top {
	height: 50%;
	width: 100%;
	background-color: yellow;
	display: block;
}

#bottom {
	height: 50%;
	width: 100%;
	background-color: blue;
	display: block;
}
#top img {
	width: 100%;
	height: 100%;
}

#tleft {
	float: left;
	width: 50%;
	height: 100%;
	background-color: red;
}

#tright {
	float: right;
	width: 50%;
	height: 100%;
	background-color: green;
}

.sSpacer {
	height: 20%;
	display: block;
}

.lowerlogos {
	width: 40px;
	height:40px;
}

#midbottom {
	margin-left: 25px;
	margin-right: 25px;
}

.midlowerlogos {
	width: 40px;
	height:40px;
}

.rightlowerlogos {
	width: 40px;
	height:40px;
}

.wolfGif {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.textTemp {
	font-size: 40px;
	font-family: 'Shadows Into Light';
	color: #DADAC5;
	position: absolute;
	z-index: 2;
	bottom: 15%;
	right:10%;
}

.thePackText{
	font-size: 30px;
	font-family: 'Shadows Into Light';
	color: #DADAC5;
	position: absolute;
	z-index: 2;
	top: 25%;
	right:28%;
}














